<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>title</title>
    
</head>
<body>
    <form method="POST" action="/users/login">
    
    <input type="text" id="email" placeholder="Email" name="email">

    <input type="text" id="password" placeholder="password" name="password">
    
    <button>submit</button>
    </form>
    <script src="send.js"></script>
</body>
</html>